@media screen and (max-width:1024px){
    
}

@media screen and (max-width:768px){
    .container-flex{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .liste-nav{
        flex-direction: column;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
    }

    .social{
        justify-content: center;
        
    }

    .social>li{
        padding-left: 15px;
    }

    .contact-me>form>button{
       margin: auto;
    }
    
}

@media screen and (max-width:500px){
    .start-css{
        text-align: center;
    }

    .container-flex>div {
        padding: 20px;
    }

    .grid{
        grid-template-columns: 1fr;
    }
    
    .content-start-css>img{
        width:100px;
        height:100px;
    }

    .about-text{
       width:90%;
    }
    .contact-me button{
        width:100%;
    }
    .contact-me{
        width:90%;
    }
    
    .liste-nav{
        width:50%;
        flex-direction: column;
    }

    .logo{
        margin-left:5%;
        width:35%;
    }
    .title,.about-para{
        margin:auto;
    }
    .about{
        width:100%;
    }

    .about-para{
        flex-direction: column;
    }

    h1{
    font-size:2em;
    }
}